# EDA business questions

In [34]:
%load_ext lab_black
%matplotlib inline

The lab_black extension is already loaded. To reload it, use:
  %reload_ext lab_black

In [35]:
import pandas as pd
import seaborn as sns

In [36]:
df = pd.read_csv("../data/telecom_cleaned.csv")
df.drop(
    ["Unnamed: 0", "state", "area_code", "phone_number", "account_length"],
    axis=1,
    inplace=True,
)

Does having an international plan result in less churns?

In [63]:
# Having international plan churns:
int_plan = (
    df.loc[:, ["churn", "international_plan_yes", "voice_mail_plan_yes"]]
    .query("international_plan_yes==1")
    .groupby("churn")
    .agg(churn_count=("international_plan_yes", "count"))
    .iloc[1:2]
)
int_plan

       churn_count
churn
True           137

In [62]:
# Having no international plan churns:
no_int_plan = (
    df.loc[:, ["churn", "international_plan_yes", "voice_mail_plan_yes"]]
    .query("international_plan_yes==0")
    .groupby("churn")
    .agg(churn_count=("international_plan_yes", "count"))
    .iloc[1:2]
)
no_int_plan

       churn_count
churn
True           346

Does having a voicemail plan result in less churns?

In [61]:
# Having voicemail plan churns:
voice_plan = (
    df.loc[:, ["churn", "international_plan_yes", "voice_mail_plan_yes"]]
    .query("voice_mail_plan_yes==1")
    .groupby("churn")
    .agg(churn_count=("international_plan_yes", "count"))
    .iloc[1:2]
)
voice_plan

       churn_count
churn
True            80

In [60]:
# Having no voicemail plan churns:
no_voice_plan = (
    df.loc[:, ["churn", "international_plan_yes", "voice_mail_plan_yes"]]
    .query("voice_mail_plan_yes==0")
    .groupby("churn")
    .agg(churn_count=("international_plan_yes", "count"))
    .iloc[1:2]
)
no_voice_plan

       churn_count
churn
True           403

Does having both a voicemail plan and an international plan result in less churns?

In [59]:
# Having both voice and international plan churn:
int_voice_plan = (
    df.loc[:, ["churn", "international_plan_yes", "voice_mail_plan_yes"]]
    .query("international_plan_yes==1 & voice_mail_plan_yes==1")
    .groupby("churn")
    .agg(churn_count=("international_plan_yes", "count"))
    .iloc[1:2]
)
int_voice_plan

       churn_count
churn
True            36

In [64]:
# Having both voice and international plan no churn:
no_int_voice_plan = (
    df.loc[:, ["churn", "international_plan_yes", "voice_mail_plan_yes"]]
    .query("international_plan_yes==0 & voice_mail_plan_yes==0")
    .groupby("churn")
    .agg(churn_count=("international_plan_yes", "count"))
    .iloc[1:2]
)
no_int_voice_plan

       churn_count
churn
True           302

Do people who spend more time talking during the day tend to churn less?

In [90]:
df.loc[:, ["churn", "total_day_minutes", "total_day_calls"]].query("churn==True")

      churn  total_day_minutes  total_day_calls
10     True              129.1              137
15     True              332.9               67
21     True               62.4               89
33     True              249.6              118
41     True              173.1               85
...     ...                ...              ...
3301   True              280.0              113
3304   True              186.1              114
3320   True              140.0              101
3322   True              321.1              105
3323   True              118.4              126

[483 rows x 3 columns]